// ─── Reset ───────────────────────────────────────────────────────────────────

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  overflow-x: clip; // clip non rompe position: sticky, hidden sì
}

body {
  overflow-x: clip;
}

img,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}
